@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import 'pages/FinanceManagement/style.scss';

.th-align-right {
    text-align: right;
}