@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import 'pages/FinanceManagement/style.scss';
@import 'pages/FinanceDB/styles.scss';
@import 'pages/AnnualSettlement/styles.scss';
@import 'common/Analytics/styles.scss';

.align-right {
    text-align: right !important;
}
.align-center {
    text-align: center !important;
}
.title-text {
    font-size: larger;
}

.bp3-input-group {
    .bp3-input {
        height: 24px;
        font-size: 12px;
    }
}

.flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.minus {
    color: red !important;
}

.active {
    text-decoration: underline;
}