@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import 'pages/FinanceManagement/style.scss';
@import 'pages/FinanceDB/styles.scss';

.align-right {
    text-align: right;
}

.bp3-input-group {
    .bp3-input {
        height: 24px;
        font-size: 12px;
    }
}