.finance-db-page {
    .header {
        display: flex;
        justify-content: space-between;
        .control-field {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .content {
            margin-top: 10px;
        }
    }
    .finance-table-field {
        display: flex;
        margin-top: 15px;
    }
    .amount-cell {
        text-align: right;
    }
    .summary-card {
        width: 250px;
    }
}