.finance-db-page {
    .header {
        display: flex;
        justify-content: space-between;
        // width: 100%;
        .control-field {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            .month-select {
                margin-left: 10px;
            }
        }
        .content {
            margin-top: 10px;
        }
    }
    .finance-table-field {
        display: flex;
    }
    .amount-cell {
        text-align: right;
    }
    .summary-card {
        width: 250px;
    }

    .total-amount-row {
        td {
            border-top: 1px solid lightgrey;
            text-align: right;
        }
    }
}